@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html{
    font-family: sans-serif;
}

body {
    margin: 10;
    padding: 10;
    background-color: #1f1a1a ;
    font-size: 40;
    padding: 20px;

}

.author{
    align-items: center;
    color: blue;
}

.renderImg{
        border-radius: 38px !important;
        padding: 18px !important;
}