ul{
    box-shadow: 0px 2px 8px aqua;
    border: 2rem;
    margin: 5%;
}

.custom-image-size {
    width: 300px;
    height: 200px;
    object-fit: cover; 
    padding: 7px;
    border-radius: .8rem !important;
}

.logo {
    width: 20px;
    height: 20px;
    object-fit: cover; 
    padding: 7px;
    border-radius: 50%;
}

.navbar{
    border-radius: 6px ;
    background-color: #7bc7ff !important;
}

.logo_icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.intro {
    background-color: #ffffe1 !important;
    border-radius: 12px;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #d9def7 !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.6rem !important;
}