{% extends 'base.html' %}

{% block page_title %} Author Details  {% endblock %}

{% block style %}
<style>
  
</style>

{% endblock %}

{% block CssFilePage %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% endblock %}

{% block content %}


<a><h2>Latest Post</h2></a>
<div class="container mt-5">
  <div class="row">
  {% for user in users %} 
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="" class="card-img-top" alt="{{ user.img_title }}">
        <div class="card-body">
            <h5 class="card-title">{{ user.content }} TITLE</h5>
            <p class="card-text">{{ user.read_more }} DESC</p>
            <a href='{% url "user-detail"  user.id %}' class="btn btn-primary">read_more</a>
        </div>
    </div>
</div>
  {% endfor %} 
</div>
</div>


{% endblock %}