{% extends 'base.html' %}

{% block page_title %} Author Details  {% endblock %}

{% block style %}
    

{% endblock %}

{% block CssFilePage %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% endblock %}

{% block content %}

<p>
<b>Introduction</b>: iExcel Community Foundation is a Non-government company and is registered at Registrar of Companies, Pune
IEXCEL COMMUNITY FOUNDATION creates a platform for underprivileged communities through thought process development, skill building, employment and entrepreneurship opportunities pan India.
</p>

<a href='{% url "all-post" %}'><h2>Latest Post</h2></a>


<div class="container mt-5">
  <div class="row">
    {% for user in users %} 

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="" class="card-img-top" alt="{{ user1.img_title }}">
        <div class="card-body">
          <h5 class="card-title">{{ user1.content }}</h5>
          <p class="card-text">{{ user1.read_more }}</p>
          <a href='{% url "user-detail"  user.id %}' class="btn btn-primary">read_more</a>
        </div>
      </div>
    </div>
 
    
    {% endfor %} 


</div>


</div>


{% endblock %}