{% extends 'base.html' %}
{% load static %}

{% block page_title %} Author Details  {% endblock %}


{% block CssFilePage %}

<link rel = 'stylesheet' href = {% static 'index.css' %} >
<link rel = "icon" href ="/media/images/ak.jpg" >


{% endblock %}

{% block header %}
  {% include  "portfolio/includes/header.html" %}
{% endblock %}

{% block content %}



<h2 class = "element">  {{ text.content }} </h2>
<div class="container mt-5">
  <div class="row">
  <div class="col-md-12 mb-4">
    <div class="card">
        <img src="{{ text.img_url.url }}" class="card-img-top rounded-3" alt="{{ text.img_title }}">
        <div class="card-body">
            <h5 class="card-title"><b> About  Blog:</b> {{ text.content }} </h5>
            <p class="card-text"> <b> Full Name : </b>{{ text.first_name }} {{text.last_name}} </p>
            <p class="card-text"> <b> Age : </b> {{ text.age }} </p>
            <p class="card-text">   <b>City : </b> {{ text.city }} </p>
            <p class="card-text">  <b> Created At : </b> {{ text.created_at }} </p>
            
            <p class="card-text"><b> Date : </b> {{ text.event_date }} </p>
            <p class="card-text"> <b>Time : </b> {{ text.event_time }} </p>
            <p class="card-text"> <b>More About : </b> <div class = "px-4"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ text.read_more }}  </div> </p>
        </div>
    </div>
</div>
</div>


<br>



<figure class="text-center">
  <b>Comment Section  </b>

  {% for comment in comments %}
  {% if comment.post_id == text.id %}

  <blockquote class="blockquote">
    <p>{{comment.user_name}}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title"> {{comment.comment}}</cite>
  </figcaption>
  {% endif %}

  {% endfor %}

</figure>

{% endblock %}