

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <img src="/media/images/ak.jpg" alt="Logo" class = "logo_icon" style="width: 100px; height: 100px; border-radius: 50%; ">
    <a class="navbar-brand fw-bolder" href="{% url 'landing-page' %}">Ajith InfoTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav nav-pills navbar-nav">
            <a class="nav-item nav-link {% if request.path == '/' %}active fw-bolder{% endif %}"
               href="{% url 'landing-page' %}">Home</a>
            <a class="nav-item nav-link {% if request.path == '/all-post' %}active fw-bolder{% endif %}"
               href="{% url 'all-post' %}">All Post</a>
            <a class="nav-item nav-link {% if request.path == '/add-post' %}active fw-bolder{% endif %}"
               href="{% url 'add-post' %}">Add Post</a>
            <a class="nav-item nav-link disabled"
               href="#">About us</a>
            <a class="nav-item nav-link disabled"
               href="#">Contact us</a>
        </div>
    </div>
</nav>
