{% extends 'base.html' %}

{% block page_title %} Author Details  {% endblock %}

{% block style %}
    

{% endblock %}

{% block CssFilePage %} {% endblock %}

{% block content %}

    <div class="author ">
       👋 
        <h3> Full Name : {{text.first_name}} {{text.last_name}}  😊</h3> 
        <h3> Age : {{text.age}} 👱</h3>
        <h3> Cite : {{text.city}} 📍</h3>
        <h3> Rating : {{text.rating}}  🤩   </h3>
        <h3> Slug : {{text.slug}}  🤩   </h3>
        😁
    </div>

{% endblock %}