@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html{
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7eded;
    font-size: 40;

}

.author{
    align-items: center;
    color: blue;
}

.element {
    max-width: fit-content;
    margin-inline: auto;
}
  